
body {
    margin: 0;
    padding: 0;
}

.ajuste {
    margin-top: -80px;
    margin-bottom: 0px;
    padding: 80px;
}

h1, h5{
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: "Montserrat", sans-serif;

}

h3{
    background-color: #e57d90;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0 -80px;
    padding: 10px 80px;
}

ul, ol{
    background-color: #967491;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0 -80px;
    padding: 10px 80px;

}

ol {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

h6 {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center; /** Tentei alinhar, mas infelizmente não está funcionando :( Preciso de um feedback sobre.**/
    background-color: #779ECB;

}
